.message {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 50%;

  .message__inner {
    background-color: #f1f1f1;
    padding: 1rem 1.5rem;
    border-radius: 2.2rem;
    margin-bottom: 1.5rem;
    display: inline-block;
  }

    &:last-child {
        margin-bottom: 0;
    }
}

.message.message--user {
    justify-content: flex-end;
    margin-left: auto;

    .message__inner {
        background-color: $c-secondary;
    }
}