.section-chats {
    padding: 2rem 0;
    
    .section__inner {
        display: grid;
        grid-template-columns: .8fr 2.2fr;
        gap: 2rem;
        min-height: calc(100vh - 5rem - 4rem);
    }

    .section__users,
    .section__chats {
        background-color: $c-white;
        box-shadow: 0 0 .6rem rgba($color: #000000, $alpha: .3);
        padding: 2rem;
    }
    
    .section__chats {
        background-color: $c-white;
    }

    .section__users-head {
        display: grid;
        grid-template-columns: calc(100% - 20rem) 20rem;
        align-items: center;
        padding-bottom: 2rem;
    }

    h4 {
        margin-bottom: 0;
    }

}