.section-chats {
    padding: 2rem 0;
    
    .section__inner {
        display: grid;
        grid-template-columns: .8fr 2.2fr;
        grid-auto-rows: calc(100vh - 5rem - 4rem);
        gap: 2rem;
        min-height: calc(100vh - 5rem - 4rem);
        overflow-y: auto;
    }

    .section__users,
    .section__messages {
        background-color: $c-white;
        box-shadow: 0 0 .6rem rgba($color: #000000, $alpha: .3);
        padding: 2rem;
    }
    
    .section__messages {
        background-color: $c-white;
        position: relative;
        padding-bottom: 8rem;
    }

    .section__messages-actions {
        display: grid;
        grid-template-columns: repeat(2,20rem);
        justify-content: flex-end;
        gap:2rem;
        padding-bottom: 2rem;
    }

    .section__users-head {
        display: grid;
        grid-template-columns: calc(100% - 20rem) 20rem;
        align-items: center;
        padding-bottom: 2rem;

        @include breakpoint-down-large-desktop {
            grid-template-columns: calc(100% - 15rem) 15rem;;
        }
    }

    h4 {
        margin-bottom: 0;
    }

}