.user-search {
    .user__search-inner {
        display: grid;
        grid-template-columns: 6rem calc(100% - 6rem);
        align-items: center;
        gap: 1.5rem;
        background: #f1f1f1;
        padding: 1rem;
        border-radius: 1.2rem;
        margin-bottom: 2rem;
        transition: background .2s;
        cursor: pointer;
        
        &:hover {
            background: #cccccc;
        }
    }


    &:last-child {
        margin-bottom: 0;
    }

    .user__search-img {
        min-height: 6rem;
        position: relative;
    }
    
    .user__search-img img {
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }

    p {
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }

    small {
        font-size: 1.2rem;
    }
}

.user-search.is-picked {
    .user__search-inner {
        background: #cccccc;
    }
}