$font-size-base             : 16px;
$font-weight-base           : 400;
$line-height-base           : 1.2;

$ff-sans-serif              : 'Roboto', sans-serif;

$t-duration                 : 0.4s;

$shell-max-width            : 120rem;
$shell-gutter               : 30px;
$shell-gutter-tablet        : 20px;
$shell-gutter-mobile        : 15px;

$c-base                     : #ff4400;
$c-secondary                : #0044ff;
$c-white                    : #fff;
$c-black                    : #000;



$mobile-small 				: 374px;
$mobile-medium  			: 575px;
$mobile  					: 767px;
$tablet 					: 1023px;
$small-desktop  			: 1281px;
$large-desktop  			: 1450px;
